html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --wht: #f8f8f8;
  --blk: #2b2b2b;
  --grn1: #5e7361;
  --grn2: #c2c5a7;
  --grn3: #c5d6a5;
  --grn4: #f0ebc1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--black);
  background-color: var(--wht);
}

/***********************
 General Styling / elements
************************/

.thin {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*************
Images
**************/

img {
  width: 100%;
  display: block;
}

/**************
buttons / links / li
***************/

/**************
typography
***************/

/************** 
Layout
***************/

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

/*************** 
Media Queries
****************/
